{% extends "layout.html" %}
{% block body %}

<h3>Data chunks</h3>

<table class="uk-table uk-table-small uk-table-striped">
  <thead>
    <tr>
      <td>File</td>
      <td>Actions</td>
      <td>Size</td>
      <td>Timestamp</td>
    </tr>
  </thead>
  <tbody>
     {% for file in files %}
      <tr>
        <td><span uk-icon="file-text"></span> <a href="/d/{{ links[loop.index-1] }}">{{ file }}</a></td>
        <td>
          <span uk-icon="git-branch"></span> <a href="/i/{{ links[loop.index-1] }}">Analyse</a>
          <span uk-icon="download"></span> <a href="/d/{{ links[loop.index-1] }}">Download</a>
          <span uk-icon="trash"></span> <a href="/r/{{ links[loop.index-1] }}" onClick="return confirm('Are you sure?');">Remove</a>
        </td>
        <td>{{ sizes[loop.index-1] }}</td>
        <td>{{ dates[loop.index-1] }}</td>
      </tr>
     {% endfor %}
  </tbody>
</table>

{% endblock %}
